body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url(Fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container{
    width: 420px;
    color: #fff;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1{
    text-align: center;
    font-size: 36px;
    
}

.container .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
    
}

.input-box input{
    width: 380px;
    height: 1px;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 25px;
    margin-top: -3px;
}

.input-box input::placeholder{
    color: #fff;
    position: absolute;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    bottom: 5px;
    transform: translateY(-50%);
    font-size: 20px;
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.tips-login img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: 25px;
}

.tips-login p{
    text-align: center;
    font-weight: 600;
    font-size: 14.5px;
}

.img-login{
    display: flex;
    justify-content: center;
}

.container .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600
}

.register-link p a:hover{
    text-decoration: underline;
}

.input-box #mostrar-senha{
    cursor: pointer;
}

.container .input-box .animar{
    
    animation: mover 1.5s ease-in-out forwards;

}

@keyframes mover {
    0% {
        transform: translate(0px,-36px);
    }
    100% {
        transform: translate(-35px, -36px);
    }
}

.input-box .eyes{

    opacity: 0.0;
}